<p-pickList [source]="sourceCars" [target]="targetCars" sourceHeader="Available" targetHeader="Selected"
  [responsive]="true" [metaKeySelection]="'false'" (emptymessagetarget)="'aaa'" filterBy="name" dragdrop="true" sourceFilterPlaceholder="Search by brand"
  targetFilterPlaceholder="Search by brand" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
  <ng-template let-car pTemplate="item">
    <div class="ui-helper-clearfix">
      <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.name}}</div>
    </div>
  </ng-template>
</p-pickList>
